* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  font-family: sans-serif;
}

/* popup-x-bt */
.popup-x-bt {
  width: 100%;
  display: block;
  text-align: end;
}

.popup-x-bt button {
  width:16px;
  height:16px;
  color:#D62600;
  border: 0.5px solid #D62600 ;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(1, -0.08, 0.95, 0.95);
  
}

.popup-x-bt button:hover {
  border-color: red ;
  background-color: #FFCDC7;
  color:red;
}

.chart-box {
  display:flex;
  flex-direction: column;
  width: 660px;
  padding-top : 10px;
  padding-bottom : 10px;
  border : solid grey 1px;
  box-sizing : border-box;
  text-align: center;
}